{% extends "base.html" %}

{% block content %}
<!-- <h1 class="page_header">Home</h1> -->
<!-- <div>Welcome to my Site!</div> -->

<div class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column"> <!--h-100-->
        <div class="mb-5">
            
        </div>
        
      
        <main class="px-3 mb-5">
          <h1 style="font-family: 'Whisper';">Anthony Blanksteen</h1>
          <p class="lead" style="font-family: 'Whisper';">Analytics<br> Leadership<br> Business Strategy</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
          </p>
        </main>
      
        <footer class="mt-auto text-white-50">
          <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
        </footer>

    </div>
      
</div>
<!-- <div style="height: 100px; background-color: rgba(255,0,0,0.1);">
    <div class="h-25 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 25%</div>
    <div class="h-50 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 50%</div>
    <div class="h-75 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 75%</div>
    <div class="h-100 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 100%</div>
  </div> -->



{% endblock %}
